{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <div class="container-fluid p-0">

        <div class="row no-gutters justify-content-center mb-5 py-3 bg-secondary text-white font-weight-bold">
            {% form_theme form 'form/_searchField.html.twig' %}
            {{ form_start(form, {'attr': {'class': 'col-11 col-lg-8'}}) }}
            <div class="form-inline row justify-content-center align-items-center">
                {{ form_row(form.searchField) }}
                <div class="col-11 col-lg-2">
                    <button type="submit" class="btn btn-primary w-100">Lancer</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>

        <div class="row no-gutters justify-content-center">
            <div class="col-11 col-lg-8">
                <h1 class="text-primary">
                    {% if search %}
                        Résultat de la recherche :
                    {% else %}
                        Tous les acteurs :
                    {% endif %}
                </h1>
            </div>
        </div>

        <div class="row no-gutters justify-content-center">
            {% for actor in actors %}
                <div class="col-11 col-lg-8">
                    <h2><a class="text-secondary" href="{{ path('wild_show_actor', {'slug': actor.slug}) }}">{{ loop.index }} / {{ actor.name }}</a></h2>
                </div>
            {% else %}
                Aucun acteur trouvé.
            {% endfor %}
        </div>

    </div>
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Acteurs</li>
{% endblock %}