{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="container-fluid">

        <div class="row no-gutters justify-content-center">
            <div class="col-11 col-lg-8">
                <h1 class="text-primary text-center">Épisode {{ episode.number }} - {{ episode.title }}</h1>
                <h2 class="text-primary text-center">Saison {{ season.number }} de {{ program.title }}</h2>
            </div>
        </div>

        <div class="row no-gutters justify-content-center">
            <h2 class="col-11 col-lg-8 text-secondary">Synopsis</h2>
            <p class="col-11 col-lg-8">{{ episode.synopsis }}</p>
        </div>

    </div>
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path('wild_index') }}">Séries</a></li>
    <li class="breadcrumb-item"><a href="{{ path('wild_show', {'slug': program.title|lower|replace({' ': '-'})}) }}">{{ program.title }}</a></li>
    <li class="breadcrumb-item"><a href="{{ path('wild_show_season', {'id': season.id}) }}">Saison {{ season.number }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Épisode {{ episode.number }} - {{ episode.title }}</li>
{% endblock %}