<nav class="col-12 navbar navbar-expand-lg navbar-light">
    <a class="col-4 navbar-brand p-0" href="{{ path('app_index') }}">
        <img src="{{ asset('build/images/wild-series-logo.png') }}" alt="wild series logo">
    </a>
    <button class="navbar-toggler text-white" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="col-lg-6 navbar-nav d-lg-flex justify-content-center">
            <li class="nav-item active border-lg-right border-white">
                <a class="nav-link" href="{{ path('wild_show_index') }}">Séries</a>
            </li>

            {{ render(controller(
                'App\\Controller\\CategoryController::selectCategory'
            )) }}

            <li class="nav-item">
                <a class="nav-link" href="{{ path('wild_show_actor_index') }}">Acteurs</a>
            </li>
        </ul>
        <ul class="col-lg-6 navbar-nav d-lg-flex justify-content-end">
            {{ render(controller(
                'App\\Controller\\WildController::adminTools'
            )) }}
            <li class="nav-item border-lg-right border-white">
                <a class="nav-link disabled" href="#">Inscription</a>
            </li>
            <li class="nav-item disabled">
                <a class="nav-link disabled" href="#">Connexion</a>
            </li>
        </ul>
    </div>
</nav>